/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 주석 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 업데이트 : 2020.04.01 예정 */
/* 노트패드 : 이벤트 */

:root {
	/* URL */
		--Ebannerurl: url(https://cdn.discordapp.com/attachments/659060204247318528/687715246978498590/c7ffd202797f642a.png); /* 상단 배너 */
}

/* 중간 배너 */
header:after {
    display: block;
    width: 1070px;
    height: 60px;
    background: var(--Ebannerurl) no-repeat;
    border-bottom: 3px solid #6441a5;
    border-right: none;
    border-left: none;
    background-position: center center;
    position: relative;
    top: 0;
    padding: 0;
    content: "";
    margin: 0 auto;
    margin-bottom: 0.4em;
}
        
header {
    padding: 0.4em 0 0 0;
}
        
header #header-bar {
    margin-bottom: 0.2em;
}