/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 주석 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* 업데이트 : 2020.04.01 예정 */
/* 노트패드 : 이벤트 */

/* ㅡㅡㅡㅡㅡ 만우절 이벤트 ㅡㅡㅡㅡㅡ */
:root {
	/* URL */
		--Ebannerurl: url(https://cdn.discordapp.com/attachments/692773470441963540/692785316192321536/e4c473d65c4ea02b.png); /* 상단 배너 */
}

#main #main-content>div.frame:before {
    display: block;
    width: auto;
    height: 60px;
    background: var(--Ebannerurl) no-repeat;
    background-position: center center;
    border-bottom: 3px solid #5f4296;
    position: relative;
    content: "";
}